<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @help_topic.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @help_topic.body %>
</p>

<%= link_to 'Edit', edit_help_topic_path(@help_topic) %> |
<%= link_to 'Back', help_topics_path %>
