<h2>Finances</h2>

<h3>Net Worth</h3>
<p>
  <%= format_currency @citizen.net_worth %>
</p>

<% if can?(:edit, @citizen) %>
<h3>Credits</h3>
<p>
  <%= format_currency @citizen.credits %>
</p>

<%=render partial: '/loans/index' %>
<%=render partial: '/bonds/index' %>

<% cache(cache_key_for_collection("financial-transactions-#{@citizen.id}", FinancialTransaction.for_citizen(@citizen))) do %>
	<h3>Recent Transactions</h3>
	<% if FinancialTransaction.for_citizen(@citizen).count > 0 %>
	<table class="table table-striped table-hover ">
		<tbody>
		<% FinancialTransaction.for_citizen(@citizen).limit(20).each do |transaction| %>
		<tr>
			<td>
				<span class="badge"><%=format_turn(transaction.turn)%></span>
			</td>
			<td class="text-justify">
				<%=transaction.reason%>
				<% if transaction.other_party %>
				&nbsp; (<%=link_to transaction.other_party.to_s, transaction.other_party %>)
				<% end %>
			</td>
			<td class="text-right">
				<%=format_currency(transaction.amount)%>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
	<% else %>
	<p>No recent transactions</p>
	<% end %>
<% end %>
<% end %>

