<%= form_for(@citizen) do |f| %>
  <% if @citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
      <% @citizen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.number_field :password %>
  </div>
  <div class="field">
    <%= f.label :email_notifications %><br>
    <%= f.check_box :email_notifications %>
  </div>
  <div class="field">
    <%= f.label :daily_updates %><br>
    <%= f.check_box :daily_updates %>
  </div>
  <div class="field">
    <%= f.label :instant_updates %><br>
    <%= f.check_box :instant_updates %>
  </div>
  <div class="field">
    <%= f.label :credits %><br>
    <%= f.number_field :credits %>
  </div>
  <div class="field">
    <%= f.label :home_district_id %><br>
    <%= f.number_field :home_district_id %>
  </div>
  <div class="field">
    <%= f.label :current_profession_id %><br>
    <%= f.number_field :current_profession_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
