<h2>Inventory</h2>

<% if (@citizen.citizen_equipment.count + @citizen.citizen_trade_goods.count) > 0 %>
	<% if @citizen.citizen_equipment.count > 0 %>
	<h3>Equipment</h3>
	<ul class="list-group">
	  <% @citizen.citizen_equipment.each do |equipment| %>
	  <li class="list-group-item">
	    <%=link_to equipment.equipment_type.name, equipment.equipment_type %> x <%=equipment.quantity %>
	  </li>
	  <% end %>
	</ul>
	<% end %>

	<% if @citizen.citizen_trade_goods.count > 0 %>
	<h3>Trade Goods</h3>
	<ul class="list-group">
	  <% @citizen.citizen_trade_goods.each do |trade_good| %>
	  <li class="list-group-item">
	    <%=link_to trade_good.trade_good.name, trade_good.trade_good %> x <%=trade_good.quantity %>
	  </li>
	  <% end %>
	</ul>
	<% end %>
<% else %>
<div class="alert alert-dismissible alert-warning">
  <h4>Inventory Empty</h4>
  <% if current_citizen && current_citizen.id == @citizen.id %>
  <p>You don't have any <%=link_to('equipment', equipment_types_path)%> or <%=link_to('trade goods', trade_goods_path)%>.</p>
  <% else %>
  <p>This citizen does not own any <%=link_to('equipment', equipment_types_path)%> or <%=link_to('trade goods', trade_goods_path)%>.</p>
  <% end %>
</div>
<% end %>