<h2>Profile</h2>

<% cache("profile-#{@citizen}") do %>
  <% if @citizen.known_skills.count > 0 %>
  <h3>Skills</h3>
  <ul class="list-group">
    <% @citizen.known_skills.each do |skill| %>
    <li class="list-group-item">
      <%=link_to skill.name, skill %> <span class="badge"><%=@citizen.skill_rank(skill) %></span>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if @citizen.citizen_careers.count > 0 %>
  <h3>Careers</h3>
  <ul class="list-group">
    <% @citizen.citizen_careers.each do |career| %>
    <li class="list-group-item">
      <%=link_to career.profession.name, career.profession %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if @citizen.facts.size > 0 %>
  <h3>Facts</h3>
  <table class="table table-striped table-hover ">
    <tbody>
      <% @citizen.facts.each do |fact| %>
      <tr>
        <th><%=fact[0]%></th>
        <td><%=fact[1]%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

<% if can?(:destroy, @citizen) %>
<div class="row">
  <div class="col-lg-12 text-center">
    <%= link_to 'Retire from Ultimapolis', @citizen, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-lg btn-danger' %>
  </div>
</div>
<% end %>