<ul class="nav nav-tabs">
  <li class="<%=(current_tab == 'profile' ? 'active' : '')%>"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
  <li class="<%=(current_tab == 'inventory' ? 'active' : '')%>"><a href="#inventory" data-toggle="tab" aria-expanded="true">Inventory</a></li>
  <li class="<%=(current_tab == 'facilities' ? 'active' : '')%>"><a href="#facilities" data-toggle="tab" aria-expanded="true">Facilities</a></li>
  <li class="<%=(current_tab == 'projects' ? 'active' : '')%>"><a href="#projects" data-toggle="tab" aria-expanded="true">Projects</a></li>
  <li class="<%=(current_tab == 'finances' ? 'active' : '')%>"><a href="#finances" data-toggle="tab" aria-expanded="true">Finances</a></li>
  <% if can?(:edit, @citizen)%>
  <li class="<%=(current_tab == 'report' ? 'active' : '')%>"><a href="#report" data-toggle="tab" aria-expanded="true">Report</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Build Facility', new_facility_path %></li>
      <li><%= link_to 'Change Profession', edit_citizen_path(@citizen)%></li>
      <li class="divider"></li>
      <li><%=link_to 'Buy / Sell Trade Goods', new_exchange_trade_good_path %></li>
      <li><%=link_to 'Buy / Sell Equipment', new_exchange_equipment_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Buy a Bond', new_bond_path %></li>
      <li><%= link_to 'Take a Loan', new_loan_path %></li>
    </ul>
  </li>
  <% end %>
</ul>
<div id="citizenContent" class="tab-content">
  <div class="tab-pane fade <%=(current_tab == 'profile' ? 'active in' : '')%>" id="profile">
    <%=render partial: '/citizens/profile' %>
  </div>
  <div class="tab-pane fade <%=(current_tab == 'inventory' ? 'active in' : '')%>" id="inventory">
    <%=render partial: '/citizens/inventory' %>
  </div>
  <div class="tab-pane fade <%=(current_tab == 'facilities' ? 'active in' : '')%>" id="facilities">
    <%=render partial: '/facilities/index' %>
  </div>
  <div class="tab-pane fade <%=(current_tab == 'projects' ? 'active in' : '')%>" id="projects">
    <%=render partial: '/projects/index' %>
  </div>
  <div class="tab-pane fade <%=(current_tab == 'finances' ? 'active in' : '')%>" id="finances">
    <%=render partial: '/citizens/finances' %>
  </div>
  <div class="tab-pane fade <%=(current_tab == 'report' ? 'active in' : '')%>" id="report">
    <%=render partial: '/citizens/report' %>
  </div>
</div>