<p id="notice"><%= notice %></p>

<h1>Listing Citizens</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Email notifications</th>
      <th>Daily updates</th>
      <th>Instant updates</th>
      <th>Credits</th>
      <th>Home district</th>
      <th>Current profession</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citizens.each do |citizen| %>
      <tr>
        <td><%= citizen.email %></td>
        <td><%= citizen.password %></td>
        <td><%= citizen.email_notifications %></td>
        <td><%= citizen.daily_updates %></td>
        <td><%= citizen.instant_updates %></td>
        <td><%= citizen.credits %></td>
        <td><%= citizen.home_district_id %></td>
        <td><%= citizen.current_profession_id %></td>
        <td><%= link_to 'Show', citizen %></td>
        <td><%= link_to 'Edit', edit_citizen_path(citizen) %></td>
        <td><%= link_to 'Destroy', citizen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citizen', new_citizen_path %>
