<p id="notice"><%= notice %></p>

<h1>Listing District Effects</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Started on</th>
      <th>Expires on</th>
      <th>Active</th>
      <th>Name</th>
      <th>Description</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @district_effects.each do |district_effect| %>
      <tr>
        <td><%= district_effect.event_id %></td>
        <td><%= district_effect.started_on %></td>
        <td><%= district_effect.expires_on %></td>
        <td><%= district_effect.active %></td>
        <td><%= district_effect.name %></td>
        <td><%= district_effect.description %></td>
        <td><%= district_effect.icon %></td>
        <td><%= link_to 'Show', district_effect %></td>
        <td><%= link_to 'Edit', edit_district_effect_path(district_effect) %></td>
        <td><%= link_to 'Destroy', district_effect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District effect', new_district_effect_path %>
