<% content_for :title, 'Skills' %>
<% content_for :lead, "<p class=\"lead\">Citizens learn skills to help them make a worthwhile contribution to <a href=\"/projects\">projects</a>. Every citizen learned something from their home district and from their <a href=\"/professions\">profession</a>.</p>".html_safe %>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Group</th>
      <th>Learned In</th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><!--<%=image_tag(skill.icon)%>--></td>
        <td><%= link_to skill.name, skill %></td>
        <td><%= skill.skill_group %></td>
        <td>
          <% if skill.district %>
          <%= link_to skill.district.name, skill.district %> &nbsp;
          <% end %>
          <% if skill.primary_profession %>
          <%= link_to skill.primary_profession.name, skill.primary_profession %> &nbsp;
          <% end %>
          <% if skill.secondary_profession %>
          <%= link_to skill.secondary_profession.name, skill.secondary_profession %> &nbsp;
          <% end %>
          <% if skill.tertiary_profession %>
          <%= link_to skill.tertiary_profession.name, skill.tertiary_profession %> &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :help_title, "What are skills used for?" %>
<% content_for :help_body do %>
The main use of a citizen's skills are in working on projects to deal with crisis or seize opportunities. Project leaders will pay a wage for a citizen's contribution in skills that meet the needs of a specific event. The more skilled a citizen in a skill useful to the project, the more they will earn for their contribution and the quicker that particular project will be completed.
<% end %>