<%= form_for(@facility) do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :citizen_id %><br>
    <%= f.number_field :citizen_id %>
  </div>
  <div class="field">
    <%= f.label :facility_type_id %><br>
    <%= f.number_field :facility_type_id %>
  </div>
  <div class="field">
    <%= f.label :powered %><br>
    <%= f.check_box :powered %>
  </div>
  <div class="field">
    <%= f.label :maintained %><br>
    <%= f.check_box :maintained %>
  </div>
  <div class="field">
    <%= f.label :utilised %><br>
    <%= f.number_field :utilised %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
