<% content_for :title, "Manage #{@facility}" %>
<% content_for :lead, "<p class=\"lead\">It will cost #{format_currency(@facility.upgrade_cost)} to upgrade this facility by one level.</p>".html_safe %>

<%= form_for(@facility, html: {class: "form-horizontal"}) do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>There was a problem managing this facility</h4>

      <ul>
      <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <% if @facility.producer? %>
      <legend>Production</legend>

      <% if @facility.facility_type.trade_goods.count > 0 %>
      <div class="form-group">
        <label for="producing_trade_good" class="col-lg-2 control-label">Trade Good</label>
        <div class="col-lg-10">
          <%=f.collection_select :producing_trade_good_id, @facility.facility_type.trade_goods, :id, :name, {}, class: 'form-control' %>
        </div>
      </div>
      <% end %>

      <% if @facility.facility_type.equipment_types.count > 0 %>
      <div class="form-group">
        <label for="producing_equipment_type" class="col-lg-2 control-label">Equipment</label>
        <div class="col-lg-10">
          <%=f.collection_select :producing_equipment_type_id, @facility.facility_type.equipment_types, :id, :name, {}, class: 'form-control' %>
        </div>
      </div>
      <% end %>

    <% end %>

    <legend>Upgrade</legend>

    <div class="form-group">
      <label for="levels" class="col-lg-2 control-label">Levels</label>
      <div class="col-lg-10">
      	<%=f.number_field :levels, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
	   <div class="row">
	      <div class="col-lg-2 text-left">
	        <%= link_to 'Cancel', @facility, class: 'btn-lg btn-default' %>
	      </div>

	      <div class="col-lg-offset-8 col-lg-2 text-right">
	        <%= f.submit "Update", class: "btn-lg btn-primary" %>
	      </div>
	    </div>
	 </div>

  </fieldset>

<% end %>
