<% content_for :title, @facility.facility_type.name %>
<% content_for :lead, "<p class=\"lead\">#{@facility.facility_type.description}. Level #{@facility.level}. It is worth #{format_currency(@facility.value)} if sold.</p>".html_safe %>

<% content_for(:data_body) do %>
  <tr>
      <th>Powered:</th>
      <td><%= glyph_check_or_cross @facility.powered %></td>
  </tr>
  <tr>
      <th>Maintained:</th>
      <td><%= glyph_check_or_cross @facility.maintained %></td>
  </tr>
<% end %>

<%=render partial: '/facility_types/show', locals: {facility_type: @facility.facility_type, producing_trade_good: @facility.producing_trade_good, producing_equipment_type: @facility.producing_equipment_type} %>

<% if current_citizen && current_citizen.owns_facility?(@facility) %>
<div class="row">
  <div class="col-lg-1 text-left">
    <%=link_to 'Sell', @facility, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-lg btn-danger' %>
  </div>
  <div class="col-lg-offset-10 col-lg-1 text-right">
    <%=link_to 'Manage', edit_facility_path(@facility), class: 'btn-lg btn-primary' %>
  </div>
</div>
<% end %>