<% content_for :title, @facility.facility_type.name %>
<% content_for :lead, "#{@facility.facility_type.description}. Level #{@facility.level}. It is worth #{format_currency(@facility.value)} if sold.".html_safe %>

<% content_for(:data_body) do %>
  <tr>
      <th>Powered:</th>
      <td><%= glyph_check_or_cross @facility.powered %></td>
  </tr>
  <tr>
      <th>Maintained:</th>
      <td><%= glyph_check_or_cross @facility.maintained %></td>
  </tr>
<% end %>

<%=render partial: '/facility_types/show', locals: {facility_type: @facility.facility_type, producing_trade_good: @facility.producing_trade_good, producing_equipment_type: @facility.producing_equipment_type} %>

<% if can?(:edit, @facility) %>
<div class="row">
  <div class="col-lg-1 text-left">
    <%=link_to 'Sell', @facility, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-lg btn-danger' %>
  </div>
  <div class="col-lg-offset-10 col-lg-1 text-right">
    <%=link_to 'Manage', edit_facility_path(@facility), class: 'btn-lg btn-primary' %>
  </div>
</div>
<% end %>

<% content_for :help_title, "Facilities" %>
<% content_for :help_body do %>
Facilities are primarily used for the production of trade goods and equipment. Each facility has a maintenance cost which must be paid. Most draw upon the power of the grid to function. The type of facility determines what kind of items it may produce as long as the citizen has the raw materials to utilise that function. A few facility types do not produce anything themselves but either provide housing or power generation. Such facilities generate income from tenants or the grid which will vary depending on supply and demand of these fungible resources. 
<% end %>