<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leader_id %><br>
    <%= f.number_field :leader_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :began_on %><br>
    <%= f.number_field :began_on %>
  </div>
  <div class="field">
    <%= f.label :finished_on %><br>
    <%= f.number_field :finished_on %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :wages %><br>
    <%= f.number_field :wages %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
