<h2>Projects</h2>

<% if @projects.empty? %>
<div class="alert alert-dismissible alert-warning">
  <h4>No Projects</h4>
  <% if current_citizen && current_citizen.id == @citizen.id %>
  <p>You should join a project to contribute your skills and earn a wage.</p>
  <% else %>
  <p>This citizen has not joined any projects.</p>
  <% end %>
</div>
<% else %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Event</th>
      <th>Leader</th>
      <th>Status</th>
      <th>Wages</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.event.name, project.event %></td>
        <td><%= link_to project.leader.name, project.leader %></td>
        <td><%= project.status %></td>
        <td>&cent; <%= project.wages %></td>
        <% if current_citizen %>
          <% if (@project_member_mapping = current_citizen.project_member_mapping(project)) %>
        <td>
          <%= link_to 'Leave Project', @project_member_mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-lg btn-warning' %>
        </td>
          <% elsif current_citizen.id == project.leader.id %>
        <td>
          <%= link_to 'Cancel Project', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-lg btn-danger' %>
        </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
