<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Leader</th>
      <th>Status</th>
      <th>Wages / Skill Point</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project.leader.to_s, project.leader %></td>
        <td><%= project.status %></td>
        <td><%=format_currency  project.wages %></td>
        <td>
            <%= form_for(ProjectMember.new(project: project)) do |f| %>
            <%=f.hidden_field :project_id %>
            <%=f.submit "Help", class: "btn btn-primary" %>
            <% end %>
        </td>
        <td>
            <%= form_for(ProjectMember.new(project: project, sabotaging: true)) do |f| %>
            <%=f.hidden_field :project_id %>
            <%=f.hidden_field :sabotaging %>
            <%=f.submit "Sabotage", class: "btn btn-danger" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>