<p id="notice"><%= notice %></p>

<p>
  <strong>Leader:</strong>
  <%= @project.leader_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @project.event_id %>
</p>

<p>
  <strong>Began on:</strong>
  <%= @project.began_on %>
</p>

<p>
  <strong>Finished on:</strong>
  <%= @project.finished_on %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Wages:</strong>
  <%= @project.wages %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
