<%= form_for(@district) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.number_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :transport_capacity %><br>
    <%= f.number_field :transport_capacity %>
  </div>
  <div class="field">
    <%= f.label :civilians %><br>
    <%= f.number_field :civilians %>
  </div>
  <div class="field">
    <%= f.label :automatons %><br>
    <%= f.number_field :automatons %>
  </div>
  <div class="field">
    <%= f.label :unrest %><br>
    <%= f.number_field :unrest %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.number_field :health %>
  </div>
  <div class="field">
    <%= f.label :policing %><br>
    <%= f.number_field :policing %>
  </div>
  <div class="field">
    <%= f.label :social %><br>
    <%= f.number_field :social %>
  </div>
  <div class="field">
    <%= f.label :environment %><br>
    <%= f.number_field :environment %>
  </div>
  <div class="field">
    <%= f.label :housing %><br>
    <%= f.number_field :housing %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.number_field :education %>
  </div>
  <div class="field">
    <%= f.label :community %><br>
    <%= f.number_field :community %>
  </div>
  <div class="field">
    <%= f.label :creativity %><br>
    <%= f.number_field :creativity %>
  </div>
  <div class="field">
    <%= f.label :aesthetics %><br>
    <%= f.number_field :aesthetics %>
  </div>
  <div class="field">
    <%= f.label :crime %><br>
    <%= f.number_field :crime %>
  </div>
  <div class="field">
    <%= f.label :corruption %><br>
    <%= f.number_field :corruption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
