<% content_for :title, 'Districts' %>
<% content_for :lead, "<p>The city is divided into a number of districts each specialising in a particular utilitarian function.</p>".html_safe %>

<% i = 0 %>

<% @districts.each do |district| %>
  <% if i % 3 == 0 %>
    <div class="row">
  <% end %>

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><!--<%=image_tag(district.icon)%>--><h3 class="panel-title"><%=link_to(district.name, district) %></h3></div>
      <div class="panel-body">
        <p><%=district.description.html_safe %></p>
        <p><strong>Population:</strong> <%=district.civilians%> &nbsp; <strong>Land Usage:</strong> <%=district.land_usage%></p>
        <% unless district.notes.empty? %>
        <p><strong>Special Conditions:</strong>
          <ul class="list-group">
            <% district.notes.each do |note| %>
            <li class="list-group-item"><%=note %></li>
            <% end %>
          </ul>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <% if i % 3 == 2 %>
    </div>
  <% end %>

  <% i += 1 %>
<% end %>

<% if i % 3 != 0 %>
    </div>
<% end %>

