<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @district.skill_id %>
</p>

<p>
  <strong>Transport capacity:</strong>
  <%= @district.transport_capacity %>
</p>

<p>
  <strong>Civilians:</strong>
  <%= @district.civilians %>
</p>

<p>
  <strong>Automatons:</strong>
  <%= @district.automatons %>
</p>

<p>
  <strong>Unrest:</strong>
  <%= @district.unrest %>
</p>

<p>
  <strong>Health:</strong>
  <%= @district.health %>
</p>

<p>
  <strong>Policing:</strong>
  <%= @district.policing %>
</p>

<p>
  <strong>Social:</strong>
  <%= @district.social %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @district.environment %>
</p>

<p>
  <strong>Housing:</strong>
  <%= @district.housing %>
</p>

<p>
  <strong>Education:</strong>
  <%= @district.education %>
</p>

<p>
  <strong>Community:</strong>
  <%= @district.community %>
</p>

<p>
  <strong>Creativity:</strong>
  <%= @district.creativity %>
</p>

<p>
  <strong>Aesthetics:</strong>
  <%= @district.aesthetics %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @district.crime %>
</p>

<p>
  <strong>Corruption:</strong>
  <%= @district.corruption %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
