<% content_for :title, 'Buy / Sell Equipment' %>
<% content_for :lead, "There are many useful items that can be bought to enhance a citizen's skills. You can also sell these items to make some credits.".html_safe %>

<%= form_for(@exchange_equipment, html: {class: "form-horizontal"}) do |f| %>
  <% if @exchange_equipment.errors.any? %>
    <div id="error_explanation" class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4><%= pluralize(@exchange_equipment.errors.count, "error") %> prohibited this equipment being bought:</h4>

      <ul>
      <% @exchange_equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend>Equipment</legend>
  	<div class="form-group">
  	  <label for="equipment_type_id" class="col-lg-2 control-label">Equipment Type</label>
      <div class="col-lg-10">
      	<%=f.collection_select :equipment_type_id, EquipmentType.all, :id, :name_with_price, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label for="quantity" class="col-lg-2 control-label">Quantity</label>
      <div class="col-lg-10">
        <%= f.number_field :quantity %>
      </div>
    </div>

    <div class="form-group">
      <label for="buy_or_sell" class="col-lg-2 control-label">Buy / Sell</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="buy_or_sell" id="buyOrSellRadio1" value="buy" <%=params[:buy_or_sell] == 'buy' ? 'checked' : '' %>>
            Buy
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="buy_or_sell" id="buyOrSellRadio1" value="sell" <%=params[:buy_or_sell] == 'sell' ? 'checked' : '' %>>
            Sell
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-2 text-left">
        <%= link_to 'Cancel', current_citizen_path('inventory'), class: 'btn-lg btn-default' %>
      </div>

      <div class="col-lg-offset-8 col-lg-2 text-right">
        <%= f.submit "Trade", class: "btn-lg btn-primary" %>
      </div>
    </div>
  </fieldset>

<% end %>

<% content_for :help_title, "Trading with the Exchange" %>
<% content_for :help_body do %>
The Exchange is a useful system of trade within Ultimapolis. There is always some supply and demand in trade goods and equipment. Prices are set based on the costs of production and will increase as demand outstrips supply and vice versa. There is also an undercurrent of inflation that impacts prices.
<% end %>