<% content_for :title, 'Facilities' %>
<% content_for :lead, "Citizens may build facilities to produce goods and services for Ultimapolis. Different types of facilities may be built in each of the <a href=\"/districts\">districts</a>.".html_safe %>

<% if defined?(@filter_district) && @filter_district %>
<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong><%=link_to(@filter_district.name, @filter_district)%></strong> facilities only. (<%=link_to('View facilities for all districts', facility_types_path)%>)
</div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>District</th>
      <th>Description</th>
      <th>Build cost</th>
      <th>Maintenance cost</th>
      <th>Employees</th>
      <th>Automation</th>
      <th>Housing</th>
      <th>Power consumption</th>
      <th>Power generation</th>
      <th>Pollution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facility_types.each do |facility_type| %>
      <tr>
        <td><!-- <%= image_tag facility_type.icon %>--></td>
        <td><%= link_to facility_type.name, facility_type %></td>
        <td><%= link_to facility_type.district.name, facility_type.district %></td>
        <td><%= facility_type.description %></td>
        <td><%=format_currency  facility_type.build_cost %></td>
        <td><%=format_currency  facility_type.maintenance_cost %></td>
        <td><%= facility_type.employees %></td>
        <td><%= facility_type.automation %></td>
        <td><%= facility_type.housing_mod %></td>
        <td><%= facility_type.power_consumption %></td>
        <td><%= facility_type.power_generation %></td>
        <td><%= facility_type.pollution %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :help_title, "Facilities" %>
<% content_for :help_body do %>
Facilities are primarily used for the production of trade goods and equipment. Each facility has a maintenance cost which must be paid. Most draw upon the power of the grid to function. The type of facility determines what kind of items it may produce as long as the citizen has the raw materials to utilise that function. A few facility types do not produce anything themselves but either provide housing or power generation. Such facilities generate income from tenants or the grid which will vary depending on supply and demand of these fungible resources. 
<% end %>