<%= form_for(@equipment_type) do |f| %>
  <% if @equipment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment_type.errors.count, "error") %> prohibited this equipment_type from being saved:</h2>

      <ul>
      <% @equipment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :facility_type_id %><br>
    <%= f.number_field :facility_type_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.number_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :skill_modifier %><br>
    <%= f.number_field :skill_modifier %>
  </div>
  <div class="field">
    <%= f.label :exchange_price %><br>
    <%= f.number_field :exchange_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
