<% content_for :title, 'Equipment' %>
<% content_for :lead, "<p class=\"lead\">There are many useful items that can be produced to enhance a citizen's skills.</p>".html_safe %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Produced In</th>
      <th>Enhances Skill</th>
      <th>For Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_types.each do |equipment_type| %>
      <tr>
        <td><!--<%=image_tag(equipment_type.icon) %>--></td>
        <td><%= link_to equipment_type.name, equipment_type %></td>
        <td><%= equipment_type.description %></td>
        <td><%= link_to equipment_type.facility_type.name, equipment_type.facility_type %></td>
        <td><%= link_to equipment_type.skill.name, equipment_type.skill %> +<%= equipment_type.skill_modifier %></td>
        <td>
          <% unless equipment_type.for_sale < 1 %>
          <%= equipment_type.for_sale %> @ <%= format_currency equipment_type.exchange_price %>
          <% else %>
          N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>