<% content_for :title, 'Equipment' %>
<% content_for :lead, "<p class=\"lead\">There are many useful items that can be produced to enhance a citizen's skills.</p>".html_safe %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Produced In</th>
      <th>Enhances Skill</th>
      <th>Exchange Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_types.each do |equipment_type| %>
      <tr>
        <td><!--<%=image_tag(equipment_type.icon) %>--></td>
        <td><%= link_to equipment_type.name, equipment_type %></td>
        <td><%= equipment_type.description %></td>
        <td><%= link_to equipment_type.facility_type.name, equipment_type.facility_type %></td>
        <td><%= link_to equipment_type.skill.name, equipment_type.skill %> +<%= equipment_type.skill_modifier %></td>
        <td><%= format_currency equipment_type.exchange_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :help_title, "How do you use equipment?" %>
<% content_for :help_body do %>
Equipment is obtained by citizens either by buying it from the Exchange or producing it in one of their own facilities. Occassionally, the project leader who successfully handled a crisis or seized an opportunity will be awarded one as a sign of gratitude from the City Core Government. Equipment is used automatically if possessed whenever the relevant skill is needed. 
<% end %>