<p id="notice"><%= notice %></p>

<h1>Listing Trade Goods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Facility type</th>
      <th>Exchange price</th>
      <th>Total</th>
      <th>Produced last turn</th>
      <th>For sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_goods.each do |trade_good| %>
      <tr>
        <td><%= trade_good.name %></td>
        <td><%= trade_good.facility_type_id %></td>
        <td><%= trade_good.exchange_price %></td>
        <td><%= trade_good.total %></td>
        <td><%= trade_good.produced_last_turn %></td>
        <td><%= trade_good.for_sale %></td>
        <td><%= link_to 'Show', trade_good %></td>
        <td><%= link_to 'Edit', edit_trade_good_path(trade_good) %></td>
        <td><%= link_to 'Destroy', trade_good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade good', new_trade_good_path %>
