<% content_for :title, 'Trade Goods' %>
<% content_for :lead, "Produced in <a href=\"/facility_types\">facilities</a> trade goods can be further refined, used in <a href=\"/projects\">projects</a> or turned into <a href=\"/equipment_types\">equipment</a>.".html_safe %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Produced In</th>
      <th>Raw Materials</th>
      <th>Exchange Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_goods.each do |trade_good| %>
      <tr>
        <td><!--<%=image_tag(trade_good.icon)%>--></td>
        <td><%= link_to trade_good.name, trade_good %></td>
        <td><%= link_to trade_good.facility_type.name, trade_good.facility_type %></td>
        <td>
          <% trade_good.trade_good_raw_materials.each do |raw_material| %>
          <%=link_to(raw_material.raw_material.to_s, raw_material.raw_material)%> x <%=raw_material.quantity%> &nbsp;
          <% end %>
        </td>
        <td>
          <%=format_currency trade_good.exchange_price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :help_title, "Trade Goods" %>
<% content_for :help_body do %>
There are many commodities and end-user products encompassed by the broad term of trade good. Everything from the basest of ores to the most advanced components used to make rare equipment. All are produced in one type of facility or another. Some are made using raw materials obtained through other facilities or bought on the Exchange.
<% end %>